#game {
  position: relative;
  margin: 50px 0 250px 0;
  height: 480px;
  width: 100%;
  perspective: 1500px;

  // border: 1px solid red;
}

#massaro {
  z-index: 3;
  position: absolute;
  bottom: 25px;
  left: 10%;
  transform: scale(2);
}

.sky {
  // visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: linear-gradient(
    0deg,
    rgba(140, 0, 255, 0.5) 0%,
    transparent 100%
  );
}

.ground {
  z-index: 2;
  position: absolute;
  left: -500px;
  right: -500px;
  bottom: -30px;
  height: 120px;
  // width: 100%;
  background: rgb(31, 12, 82);
  background: linear-gradient(
    0deg,
    rgba(57, 9, 94, 1) 0%,
    rgba(58, 7, 97, 1) 35%,
    rgba(39, 9, 61, 1) 85%,
    rgba(34, 10, 52, 1) 100%
  );
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: rotateX(45deg);
}

.ground::after {
  content: "";
  position: absolute;
  top: 55px;
  width: 200%;
  border-bottom: 10px dashed #fff;
  animation: street-flow 5s linear infinite;
}

.animated-bg {
  // visibility: hidden;
  z-index: -1;
  position: absolute;
  bottom: 70px;
  overflow: hidden;
  height: 550px;

  & > video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }
}

// Animazioni
.floating {
  margin-bottom: 300px;
}

.jump {
  animation: jump 0.5s linear forwards;
}

.fall {
  animation: jump 0.5s linear reverse;
}

@keyframes jump {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 300px;
  }
}

@keyframes street-flow {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
