#game {
  position: relative;
  // margin: 50px 0 0 0;
  height: 480px;
  width: 100%;
  perspective: 50px;

  // border: 1px solid red;
}

#massaro {
  z-index: 3;
  position: absolute;
  bottom: 120px;
  left: 100px;
  transform: scale(2);
}

.sky {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: linear-gradient(
    0deg,
    rgba(140, 0, 255, 0.5) 0%,
    transparent 100%
  );
}

.ground {
  z-index: 2;
  position: absolute;
  bottom: 0;
  height: 130px;
  width: 5000px;
  background: rgb(31, 12, 82);
  background: linear-gradient(
    0deg,
    rgba(34, 10, 52, 1) 0%,
    rgba(39, 9, 61, 1) 35%,
    rgba(58, 7, 97, 1) 85%,
    rgba(57, 9, 94, 1) 100%
  );
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform: rotateX(10deg);
  animation: street-flow 3s linear infinite;
}

.ground::after {
  content: "";
  position: absolute;
  top: 60px;
  width: 100%;
  border-bottom: 20px dashed #fff;
  opacity: 1;
}

// Animazioni
.floating {
  margin-bottom: 200px;
}

.jump {
  animation: jump 0.5s linear forwards;
}

.fall {
  animation: jump 0.5s linear reverse;
}

@keyframes jump {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 200px;
  }
}

@keyframes street-flow {
  from {
    left: -300px;
  }
  to {
    left: -2000px;
  }
}
