// Finestra di gioco
#game {
  position: relative;
  margin: 50px 0 100px 0;
  height: 480px;
  width: 100%;
  perspective: 1500px;

  // border: 1px solid red;
}

// Overlay

.vhs-glitch {
  // display: none;
  position: absolute;
  z-index: 999;
  top: -120px;
  bottom: -20px;
  left: 0;
  right: 0;
  background: url(../assets/img/vhs-glitch.webp) repeat-x;
  // background: url("https://i.giphy.com/media/WFGW9xik06wtG/giphy.webp") repeat-x;
  background-size: contain;
  filter: contrast(100%) brightness(100%) saturate(0%);
  opacity: 0.05;
}

// Elementi di sfondo

.sky {
  // visibility: hidden;
  z-index: 1;
  position: absolute;
  // top: 0;
  bottom: 0;
  // left: 0;
  // right: 0;
  height: calc(100% + 120px);
  width: 100%;
  background: url("../assets/img/sky.jpg") center;
  background-size: cover;
}

.city1 {
  z-index: 2;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: calc(5120px * 2);
  background: url("../assets/img/city1.png") repeat-x;
  animation: city1-parallax 45s linear infinite;
}

@keyframes city1-parallax {
  from {
    left: 0;
  }
  to {
    left: -4616px;
  }
}

.city2 {
  z-index: 3;
  position: absolute;
  bottom: 75px;
  height: 143px;
  width: calc(5120px * 2);
  background: url("../assets/img/city2.png") repeat-x;
  animation: city2-parallax 7s linear infinite;
}

@keyframes city2-parallax {
  from {
    left: 0;
  }
  to {
    left: -1184px;
  }
}

.palm1 {
  z-index: 4;
  position: absolute;
  bottom: -690px;
  height: 1640px;
  width: 1153px;
  transform: scale(0.07);
  filter: brightness(60%);
  background: url("../assets/img/palm1.png");
  animation: palm1-parallax 10s linear infinite;
}

@keyframes palm1-parallax {
  from {
    right: -50%;
  }
  to {
    right: 100%;
  }
}

.palm2 {
  z-index: 5;
  position: absolute;
  bottom: -1020px;
  // right: -110%;
  height: 2500px;
  width: 2500px;
  transform: scale(0.15);
  background: url("../assets/img/palm2.png");
  animation: palm2-parallax 5s linear infinite;
}

@keyframes palm2-parallax {
  from {
    right: -110%;
  }
  to {
    right: 100%;
  }
}

// Strada

.ground {
  z-index: 9;
  position: absolute;
  left: -500px;
  right: -500px;
  bottom: -30px;
  height: 120px;
  // width: 100%;
  background: rgb(31, 12, 82);
  background: linear-gradient(
    0deg,
    rgba(57, 9, 94, 1) 0%,
    rgba(58, 7, 97, 1) 35%,
    rgba(39, 9, 61, 1) 85%,
    rgba(34, 10, 52, 1) 100%
  );
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: rotateX(45deg);
}

.ground::after {
  content: "";
  position: absolute;
  top: 55px;
  width: 200%;
  border-bottom: 10px dashed #fff;
  animation: street-flow 5s linear infinite;
}

@keyframes street-flow {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

// Massaro

#massaro {
  z-index: 10;
  position: absolute;
  bottom: 25px;
  left: 10%;
  transform: scale(2);
}

.idle {
  animation: idle 5s linear infinite;
}

.floating {
  margin-bottom: 300px;
}

.jump {
  animation: jump 0.5s linear forwards;
}

.fall {
  animation: jump 0.5s linear reverse;
}

@keyframes idle {
  0%,
  100% {
    margin-left: 0;
  }
  30% {
    margin-left: 35px;
  }
  70% {
    margin-left: -15px;
  }
}

@keyframes jump {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 300px;
  }
}
