* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Da decommentare a fine lavoro
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  // Da decommentare in mental breakdown
  // border: 2px solid red;
}

body {
  height: 100%;
  min-width: 1300px;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

#logo {
  z-index: 5;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  font-size: 3rem;
  letter-spacing: 5px;
  // border-bottom: 3px solid #fff;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000 url("./assets/img/info-bg.webp") no-repeat;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.3;
}

#ribbon {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}

// .neonbar {
//   // visibility: hidden;
//   width: 100%;
//   margin-top: 100px;
//   height: 15px;
//   background: #7d00e4;
//   animation: neon 15s infinite;
// }

// @keyframes neon {
//   0%,
//   65%,
//   67%,
//   70%,
//   72%,
//   100% {
//     background: #7d00e4;

//     box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.1),
//       0 -2px 5px rgba(255, 255, 255, 0.1),
//       0 -5px 15px 5px rgba(140, 0, 255, 0.7),
//       0 -5px 20px 5px rgba(140, 0, 255, 0.7);
//   }
//   66%,
//   71% {
//     background: #000;

//     box-shadow: -2px 3px rgba(255, 255, 255, 0.1),
//       0 -2px 5px rgba(255, 255, 255, 0.1), 0 -5px 15px 5px rgba(140, 0, 255, 0),
//       0 -5px 20px 5px rgba(140, 0, 255, 0);
//   }
// }

.small-screen {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  height: 620px;
  width: 100%;
  padding: 0 50px;
  background: rgba(168, 30, 202, 0.9);
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 5px rgb(236, 86, 144);
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .small-screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
